<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <title>Document</title>
    <script>
        const ROOM_ID = "<%= roomId %>"
        // console.log("<%=roomId %>")
    </script>
     <script src="/socket.io/socket.io.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>
    <div id="Video-grid">

    </div>
</body>
  
    
</body>
</html>